streamlit

pandas
numpy
pyyaml

sqlalchemy
psycopg2-binary

python-dotenv

supabase
boto3

requests

google-genai

matplotlib
seaborn
adjustText

scikit-learn
scipy

pydeseq2

GEOparse
biopython

openpyxl